<fieldset class="col-sm-12 bordure fieldset">
	<legend class="legende">{{ 'Efetuar Recebimento' | translate }}</legend>

	<div ng-include src="'partials/message-include.html'"></div>

	<table border="0" cellspacing="5" cellpadding="5">
		<tbody>
			<tr>
				<td>{{ 'contasReceber.dtPrevisao' | translate }}:</td>
				<td>
					<input type="date" id="dtPrev" placeholder="01/01/1900" mask="39/19/9999" name="dtPrev" class="form-control input-sm">
				</td>
			</tr>
		</tbody>
	</table>
	<br/>
	<br/>

	<table id="tabelaEfet" class="table table-striped table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th class="no-sort"></th>
				<!-- <td>{{contasReceber.oidContasReceber}}</td> -->
				<th>{{ 'contasReceber.nrDocumentoFiscal' | translate }}</th>
				<th>{{ 'contasReceber.dtVencimento' | translate }}</th>
				<th>{{ 'contasReceber.dtPrevisao' | translate }}</th>
				<th>{{ 'contasReceber.dtRecebimento' | translate }}</th>
				<th>{{ 'contasReceber.vrBruto' | translate }}</th>
				<th>{{ 'contasReceber.vrJuros' | translate }}</th>
				<th>{{ 'contasReceber.vrDesconto' | translate }}</th>
				<th>{{ 'Vlr. Líquido' | translate }}</th>
				<th>{{ 'contasReceber.oidCentrosCustos' | translate }}</th>
				<th>{{ 'contasReceber.oidBancos' | translate }}</th>
				<th>{{ 'contasReceber.dsFormaRecebimento' | translate }}</th>
				<th>{{ 'contasReceber.dsObservacao' | translate }}</th>
				<th>{{ 'contasReceber.vrBaseInss' | translate }}</th>
				<th>{{ 'contasReceber.vrDeducaoInss' | translate }}</th>
				<th>{{ 'contasReceber.vrBaseIssqn' | translate }}</th>
				<th>{{ 'contasReceber.vrDeducaoIssqn' | translate }}</th>
				<th>{{ 'contasReceber.vrBaseCsll' | translate }}</th>
				<th>{{ 'contasReceber.vrDeducaoCsll' | translate }}</th>
				<th>{{ 'contasReceber.vrBasePis' | translate }}</th>
				<th>{{ 'contasReceber.vrDeducaoPis' | translate }}</th>
				<th>{{ 'contasReceber.vrBaseCofins' | translate }}</th>
				<th>{{ 'contasReceber.vrDeducaoCofins' | translate }}</th>
				<th>{{ 'contasReceber.vrBaseIrpj' | translate }}</th>
				<th>{{ 'contasReceber.vrDeducaoIrpj' | translate }}</th>
				<th>{{ 'contasReceber.vrOutrasDeducoes' | translate }}</th>
				<th class="no-sort"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="contasReceber in contasRecebers">
				<td>
					<input type="checkbox" id="efetMarca" ng-model="checked" checked>
				</td>
				<!-- <td>{{contasReceber.oidContasReceber}}</td> -->
				<td>{{contasReceber.nrDocumentoFiscal}}</td>
				<td>{{contasReceber.dtVencimento | date:'dd/MM/yyyy'}}</td>
				<td>
					<input id="contasReceber_dtPrevisao" bs-datepicker data-date-format="dd/MM/yyyy" placeholder="01/01/1900" data-autoclose="1"
					 ng-model="contasReceber.dtPrevisao" size="11" disabled name="dtPrevisao" class="form-control" ng-disabled="checked" />
				</td>
				<td>{{contasReceber.dtRecebimento | date:'dd/MM/yyyy'}}</td>
				<td>R$ {{contasReceber.vrBruto | number:2 }}</td>
				<td>R$ {{contasReceber.vrJuros | number:2 }}</td>
				<td>R$ {{contasReceber.vrDesconto | number:2 }}</td>
				<td>R$ {{ (contasReceber.vrBruto - contasReceber.vrBaseInss +
						contasReceber.vrDeducaoInss + contasReceber.vrBaseIssqn +
						contasReceber.vrDeducaoIssqn + contasReceber.vrBaseCsll +
						contasReceber.vrDeducaoCsll + contasReceber.vrBasePis +
						contasReceber.vrDeducaoPis + contasReceber.vrBaseCofins +
						contasReceber.vrDeducaoCofins + contasReceber.vrBaseIrpj +
						contasReceber.vrDeducaoIrpj + contasReceber.vrOutrasDeducoes)
						| number:2 }}</td>
				<td>{{contasReceber.oidCentrosCustos }}</td>
				<td>{{contasReceber.oidBancos }}</td>
				<td>{{contasReceber.dsFormaRecebimento}}</td>
				<td>{{contasReceber.dsObservacao}}</td>
				<td>R$ {{contasReceber.vrBaseInss | number:2 }}</td>
				<td>R$ {{contasReceber.vrDeducaoInss | number:2 }}</td>
				<td>R$ {{contasReceber.vrBaseIssqn | number:2 }}</td>
				<td>R$ {{contasReceber.vrDeducaoIssqn | number:2 }}</td>
				<td>R$ {{contasReceber.vrBaseCsll | number:2 }}</td>
				<td>R$ {{contasReceber.vrDeducaoCsll | number:2 }}</td>
				<td>R$ {{contasReceber.vrBasePis | number:2 }}</td>
				<td>R$ {{contasReceber.vrDeducaoPis | number:2 }}</td>
				<td>R$ {{contasReceber.vrBaseCofins | number:2 }}</td>
				<td>R$ {{contasReceber.vrDeducaoCofins | number:2 }}</td>
				<td>R$ {{contasReceber.vrBaseIrpj | number:2 }}</td>
				<td>R$ {{contasReceber.vrDeducaoIrpj | number:2 }}</td>
				<td>R$ {{contasReceber.vrOutrasDeducoes | number:2 }}</td>
				<td>
					<button class="btn btn-info btn-sm" ng-click="saveTabularReceb(contasReceber)">{{ 'save' | translate }}</button>
				</td>
			</tr>
		</tbody>
	</table>
</fieldset>

